numpy==1.24.4 Pillow==10.1.0 black==23.9.1 torch==2.0.1 torchvision==0.15.2 python-dotenv==1.0.0 PyYAML==6.0.1 pyftpdlib==1.5.8 imageio==2.31.5 orjson==3.9.9 pydantic==2.4.2 confluent_kafka==2.2.0 requests==2.31.0 minio==7.1.17 pre-commit ruff
